{# ================================ #}
{# GENERATE ALL                     #}
{# ================================ #}
global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  debug

defaults
    log     global
    option  dontlognull
    retries {{ha_retries}}
    option redispatch
    timeout connect  {{ha_timeout_connect}}
    timeout client  {{ha_timeout_client}}
    timeout server  {{ha_timeout_server}}


{% if ha_www_frontends is defined and ha_www_frontends != "none" %}
{% include "http_backends.j2" %}
{% endif %}

{% if ha_tcp_frontends is defined and ha_tcp_frontends != "none" %}
{% include "tcp_backends.j2" %}
{% endif %}
